<!--
    @Name: 宝塔面板洛天依主题
    @Last Date: 2025.4.7
    @Create Date: 2021.3.21			
    @Author: Lazy
    @WebSite: https://blog.imlazy.ink:233/index.php/archives/38/
-->
<!DOCTYPE html>
<!doctype html>
<html lang="cn">

<head>
	<meta charset="utf-8">
	<meta content="IE=edge">
	<meta name="referer" content="never">
	<meta name="renderer" content="webkit">
	<title>{{g.title}}</title>
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" crossorigin href="/static/css/login.min.css?v=1741335218">
	<script>window.vite_public_title = '{{g.title}}' // 网站标题
		window.vite_public_login_token = '{{data['last_login_token']}}' // 登录token
		window.vite_public_encryption = '{{session['rsa_public_key']}}' // rsa加密公钥
		window.vite_public_login_check = '{{session['code']}}' === 'True' // 是否登录检查
		window.vite_public_hosts_list = JSON.parse('{{data.hosts|safe}}'.replace(/"/g, '"')) // cdn主机列表
			; (function () {
				// 浏览器兼容性检测
				function browserCompatible() {
					// IE浏览器版本检测
					var ieVersion = (function () {
						var userAgent = navigator.userAgent,
							isLessIE11 = userAgent.indexOf('compatible') > -1 && userAgent.indexOf('MSIE') > -1,
							isEdge = userAgent.indexOf('Edge') > -1 && !isLessIE11,
							isIE11 = userAgent.indexOf('Trident') > -1 && userAgent.indexOf('rv:11.0') > -1
						if (isLessIE11) {
							var IEReg = new RegExp('MSIE (\\d+\\.\\d+);')
							IEReg.test(userAgent)
							var IEVersionNum = parseFloat(RegExp['$1'])
							if ([7, 8, 9, 10].indexOf(IEVersionNum) > -1) {
								return IEVersionNum
							} else {
								return 6
							}
						} else if (isEdge) {
							return 'edge'
						} else if (isIE11) {
							return 11
						} else {
							return -1
						}
					})()
					if (ieVersion != -1 && ieVersion <= 11 && ieVersion != 'edge') location.href = '/tips'

					// 支持Firefox\Chrome\Safari浏览器判断，排除移动设备
					var browserVersion = function (config) {
						var userAgent = navigator.userAgent
						// 判断是否为移动端设备
						if (userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)) return false
						if (type === 'Safari') type = 'Version'
						for (var i = 0; i < config.length; i++) {
							var type = config[i][0]
							var version = config[i][1]
							if (userAgent.indexOf(type) > -1) {
								var reg = new RegExp(type + '/(\\d+\\.\\d+)')
								reg.test(userAgent)
								var versionNum = parseFloat(RegExp['$1'])
								return version > versionNum
							} else {
								return false
							}
						}
					}
					if (
						browserVersion([
							['Chrome', 60],
							['Safari', 11],
							['Firefox', 55],
						])
					) {
						location.href = '/tips'
					}
					if (!location.origin) location.origin = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '')
				}

				// 禁止后退
				function blockHist() {
					if (window.history && window.history.pushState) {
						window.onpopstate = function () {
							window.history.pushState('forward', null, '')
							window.history.forward(1)
						}
					}
					window.history.pushState('forward', null, '') //在IE中必须得有这两行
					window.history.forward(1)
				}

				// 主题切换的方法
				function useDark(config) {
					let theme = localStorage.getItem(config.storageKey) // 从本地存储中获取主题
					function isDarkMode() {
						const darkModeQuery = window.matchMedia('(prefers-color-scheme: dark)')
						return darkModeQuery.matches
					}
					if (theme && theme.includes('auto') && isDarkMode) theme = isDarkMode ? config.valueDark : config.valueLight // 自动模式下，根据系统主题切换
					document.querySelector(config.selector).setAttribute('class', theme) // 设置主题，使用setAttribute方法

					// 设置主题，使用innerHTML方法
					function setThemeDom(el) {
						const divHtml = '<div class="cut-theme"><i class="svgtofont-icon-dark"></i></div>'
						const divView = document.createElement('div')
						divView.classList.add('theme-view') // 创建一个div元素
						divView.innerHTML = divHtml // 设置div元素的innerHTML属性
						console.log(divView)
						document.getElementsByTagName('body')[0]?.append(divView) // 将div元素添加到body元素中
					}
					setThemeDom('body')
				}

				browserCompatible()
				blockHist()
				useDark({
					selector: 'html',
					storageKey: 'PANEL-THEME',
					valueDark: 'dark',
					valueLight: 'light',
				})

				const debugMode = localStorage.getItem('isLazyのMagic') === 'True';
				const themeEle = document.createElement('link');
				themeEle.rel = 'stylesheet';
				themeEle.crossOrigin = true
				themeEle.href = debugMode ? `http://shop.gov.cn/css/lty-main.css?_t=${Date.now()}` : '/static/css/theme.css?v=1743929847';
				document.head.appendChild(themeEle);
			})()</script>
	<script type="module" crossorigin src="/static/js/login.js?v=1741335218"></script>
	<link rel="stylesheet" crossorigin href="/static/css/style.css?v=1741335218">
	<script
		type="module">import.meta.url; import("_").catch(() => 1); (async function* () { })().next(); if (location.protocol != "file:") { window.__vite_is_modern_browser = true }</script>
	<script
		type="module">!function () { if (window.__vite_is_modern_browser) return; console.warn("vite: loading legacy chunks, syntax error above and the same error below should be ignored"); var e = document.getElementById("vite-legacy-polyfill"), n = document.createElement("script"); n.src = e.src, n.onload = function () { System.import(document.getElementById('vite-legacy-entry').getAttribute('data-src')) }, document.body.appendChild(n) }();</script>
</head>

<body>
	<script src="/static/js/qrcode.min.js?v=1741335218"></script>
	<script src="/static/js/jsencrypt.min.js?v=1741335218"></script>
	<script src="/static/js/md5.js?v=1741335218"></script>
	<div id="app"></div>
	<script
		nomodule>!function () { var e = document, t = e.createElement("script"); if (!("noModule" in t) && "onbeforeload" in t) { var n = !1; e.addEventListener("beforeload", (function (e) { if (e.target === t) n = !0; else if (!e.target.hasAttribute("nomodule") || !n) return; e.preventDefault() }), !0), t.type = "module", t.src = ".", e.head.appendChild(t), t.remove() } }();</script>
	<script nomodule crossorigin id="vite-legacy-polyfill" src="/static/js/polyfills-legacy.js?v=1741335218"></script>
	<script nomodule crossorigin id="vite-legacy-entry"
		data-src="/static/js/login-legacy.js?v=1741335218">System.import(document.getElementById('vite-legacy-entry').getAttribute('data-src'))</script>
	<script src="/static/js/load-file.min.js?v=1741335218"></script>

</html>