/*
 
 @Name: 宝塔面板框架额外主题样式
 @Last Date: 2023.5.16
 @Create Date: 2023.5.16				
 @Author: Lazy
 @WebSite: https://blog.imlazy.ink:233/index.php/archives/38/
 
*/

/* Logs */
.tabContent .Tab {
  /* border: 1px solid #bababa; */
  border: 0 !important;
}

.tabContent .Tab .Item {
  border: 1px solid #bababa !important;
}

.tabContent .Tab .Item.active {
  background-color: #ea9dff42 !important;
  color: #ffcaf5 !important;
}

.tabContent .Tab .Item:hover {
  background-color: rgb(243 170 255 / 30%) !important;
}

/* 插件安装弹窗 */
.install-header-title .install-tips,
.plugin-title,
.plugin-user-info .plugin-info-content,
.index_date,
.index_conter {
  color: #fff !important;
}

.plugin-user-info {
  background: #ffffff38 !important;
  border: 1px solid #efefef73 !important;
}

.plugin-user-info .plugin-info-title {
  color: #d3fff5 !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}

/* NGINX 免费防火墙 */
.waf_left_menu {
  background: #101d194f !important;
}
.waf_left_menu li.active {
  background: #2e827a96 !important;
}
.waf_left_menu span,
.waf_tips_list,
.waf_left_menu .icon i {
  color: #ececec !important;
}
.waf_conter,
.waf_nav_group span {
  color: #fff !important;
}
.waf_table > thead > tr {
  background: #ff62e62e !important;
}
.waf_table > tbody > tr > td {
  color: #fff !important;
}
.waf-input {
  background: transparent !important;
}
.waf_nav_group span.active {
  color: #fff !important;
  background: #25191970 !important;
}

/* IP配置工具 */
.network_card {
  background-color: transparent !important;
}

.network_card .name {
  color: #fff !important;
}

.info_box_item .item_label {
  color: #a5ffcc !important;
}

.info_box_item .item_value {
  color: #deffff !important;
}

/* 隐藏除了首页外的登陆状态 */
.authState {
	display: none !important
}

/* Docker 页面 */
.dk_fast_project_block {
  box-shadow: none !important;
  border: 1px solid #ffffff33 !important;
  backdrop-filter: blur(4px);
  transition: all 0.5s;
}

.dk_fast_project_block:hover {
  box-shadow: 0px 2px 20px rgb(153 153 153 / 48%);
  transform: translateY(-10px);
  backdrop-filter: blur(4px) brightness(0.8);
}

.dk_fast_project_block .dk_fp_header .dk_template_name {
  color: #ffe3e3 !important;
}

.dk_fast_project_block .dk_fp_header .dk_template_title {
  color: #efefef !important;
}

.dk_fp_template-introduce {
  color: #cfcfcf !important;
}

/* 日志界面 */
/* 网站日志 */
#siteMenu {
  background-color: rgba(0,0,0,0.5) !important;
}

.mt_select .mt_select_content {
  background: transparent !important;
  color: #fff !important;
}

/* 网站列表表格 */
#bt_site_table thead th:nth-child(6), #bt_site_table tbody tr td:nth-child(6) {
	width: 140px !important;
}

.site_traffic--typeBox {
  background: #1b1b1bab !important;
}

/* 软件商店搜索推荐 */
.records_search {
  background: rgb(0 0 0 / 40%) !important;
	backdrop-filter: blur(4px);
  border: 1px solid #bbba;
}
