/*!

 @Name: 宝塔面板框架主题样式
 @Last Date: 2025.4.7
 @Create Date: 2021.3.21				
 @Author: Lazy
 @WebSite: https://blog.imlazy.ink:233/index.php/archives/38/

*/

:root {
  --main-color: #ff709e;
  --main-border-color: #ffebef;
  --a-color: #ffd1d1;
  --a-hover-color: #ffafaf;
  --card-bg-color: rgb(0 0 0 / 50%);
  /* --card-bg-filter: blur(5px); */
  --card-bg-filter: unset;
  --card-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  --card-text-color: #cdcdcd;
  --card-title-color: #f9ebff;

  --select-main-color: #f3b0f3;

  --el-tab-border-color: #ffffff7a;
  --el-tab-border: 1px solid var(--el-tab-border-color);

  --color-333: #dedede;
  --color-555: #a9a9a9;
  --color-666: #f6f6f6;
  --color-777: var(--card-title-color);
  --color-888: #decfd8;
  --color-999: #e6c7dd;
}

#app-container {
  background-color: rgb(0 0 0 / 30%) !important;
}

.home-header-box {
  color: #f9ebff;
}

.text-\[\#20a53a\],
.text-\[\#20A53A\],
.text-primary,
[color~="#20a53a"],
[text-color~="#20a53a"],
[text-primary=""],
[text-primary~="_createElementBlock("],
[text-primary~="_ctx.compData.sql)"],
[text-primary~=","],
[text-primary~="?"],
[text-primary~="(_ctx.compData.ftp"],
[text-primary~="(_openBlock(),"],
[text-primary~=")"],
[text-primary~="}"],
[text-primary~="},"],
[text-primary~="+"],
[text-primary~="||"],
[text-primary~="${!_ctx.compData.title"],
[text-primary~="2),"],
[text-primary~="null,"],
.user-phone,
.bt-link {
  color: var(--a-color) !important;
  transition: all 0.3s;
}

.hover\:text-primary:hover {
  color: var(--main-color) !important;
}

.user-phone:hover,
.bt-link:hover,
.hover\:text-\[\#20a53a\]:hover {
  color: var(--a-hover-color) !important;
}

.playTips {
  background-color: rgb(234 40 40 / 22%) !important;
}

.layout-left-menu {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  height: 100% !important;
}

.sidebar {
  background-color: var(--card-bg-color) !important;
}

.bt-menu .menu-item a:hover,
.bt-menu .menu-item a.is-active {
  background-image: linear-gradient(to right, #ff1e1e70, rgb(227 0 103 / 57%));
  border-left: #ffae1a 2px solid !important;
}

.top_all .monitor,
.bg-\[\#fff\],
.bg-white,
[bg-white=""],
[bg-white~="_createElementVNode("],
[bg-white~="})"],
.docker-route-con:has(.el-card),
.layout-message,
.bt-menu,
.menu-toolbar,
.box {
  background-color: unset !important;
}

.content_box,
.el-card {
  background-color: var(--card-bg-color) !important;
  backdrop-filter: var(--card-bg-filter);
  box-shadow: var(--card-box-shadow) !important;
  border: 0 !important;
  border-radius: 0 !important;
  color: var(--card-text-color) !important;
}

.el-card .el-card__header {
  color: var(--card-title-color) !important;
}

path.el-progress-circle__track {
  stroke: #9b9b9b6b;
}

path.el-progress-circle__path {
  stroke: var(--main-color);
}

.bg-\[\#fff\]:has(.top_all),
.overview-box {
  background-color: var(--card-bg-color) !important;
  backdrop-filter: var(--card-bg-filter);
  box-shadow: var(--card-box-shadow) !important;
  color: var(--card-text-color) !important;
}

.overview-box .title {
  color: var(--card-text-color) !important;
}

.percentage-value {
  color: #ffaef8;
}

.box-icon {
  filter: hue-rotate(180deg);
}

.overview-box.relative.ghost,
.el-col.el-col-6.wrapper-item.ghost {
  border: 2px dashed #ffaef8 !important;
}

/* tab */
.el-tabs__nav {
  background-color: rgb(31 31 31 / 60%) !important;
  box-shadow: 0 0 2px #000000a6;
}

.el-tabs__active-bar {
  background-color: #ff73939c !important;
}

.el-tabs__header .el-tabs__item {
  color: #ccc !important;
}

/* selector */
.el-select__wrapper {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.el-select__placeholder {
  color: #c2c2c2 !important;
}

.el-select__wrapper.is-focused {
  box-shadow: 0 0 0 1px var(--select-main-color) inset !important;
}

.el-select__popper.el-popper,
.el-dropdown__popper.el-popper {
  background: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(5px) !important;
  border: 1px solid var(--select-main-color) !important;
  box-shadow: 0 0 5px var(--select-main-color) !important;
}

.el-select-dropdown__item.is-selected {
  color: var(--select-main-color) !important;
}

.el-select-dropdown__item,
.el-dropdown-menu__item,
.el-select-dropdown__footer {
  color: #ececec !important;
}

.el-select-dropdown__item.is-hovering,
.el-dropdown-menu__item:not(.is-disabled):hover,
.el-dropdown-menu__item:not(.is-disabled):focus,
.select-type-line:hover {
  background-color: #f3b0f359 !important;
  color: var(--select-main-color) !important;
}

.select-custom-hover.el-select-dropdown__item,
.el-dropdown-menu {
  background-color: unset !important;
}


/* loading mask */
.custom-loading .custom-loading__mask,
.software-mask {
  background-color: rgb(0 0 0 / 40%) !important;
  backdrop-filter: blur(4px);
}

.custom-loading .custom-loading__icon {
  filter: invert(1);
}

.software-view {
  background-color: var(--card-bg-color) !important;
  color: var(--card-text-color) !important;
}

/* 首页软件列表 */
.wrapper-item {
  border-style: none !important;
  filter: drop-shadow(2px 4px 6px black);
  transition: all 0.3s;
}

.el-col.el-col-6.wrapper-item:hover {
  backdrop-filter: brightness(0.8);
}

.wrapper-item .box-wrapper:has(.absolute.-left-1\.5.-top-1.py-\.5.px-2.transform.scale-75.bg-\[\#efefef\].text-\[\#999\].opacity-80) {
  display: none !important;
}

.h-auto:has(.advantage-view) {
  display: none !important;
}

.label {
  color: #ffe3e3 !important;
}

#layout-footer a[href='http://www.bt.cn/bbs'] {
  display: none;
}

#layout-footer>span:last-child::after {
  margin-left: 12px;
  content: "主题作者：Lazy";
}

/* tools */
.text-\[\#333\],
.text-\[\#333333\] {
  color: var(--color-333) !important;
}

.text-\[\#555\] {
  color: var(--color-555) !important;
}

.color-\#666,
.text-\[\#666\],
.text-\[\#666666\],
.text-\#666 {
  color: var(--color-666) !important;
}

.text-\[\#777\],
.text-\#777 {
  color: var(--color-777) !important;
}

.text-\[\#888\],
.text-\#888 {
  color: var(--color-888) !important;
}

.text-\[\#999\],
.text-\#999 {
  color: var(--color-999) !important
}

.state-header,
.state-bottom {
  color: #ffb7b7 !important;
}

.el-link.el-link--primary {
  color: var(--a-color) !important;
  transition: all 0.3s;
}

.el-link.el-link--primary:hover {
  color: var(--a-hover-color) !important;
}

.el-tag.el-tag--success {
  filter: invert(1) hue-rotate(180deg) opacity(0.9) contrast(0.8);
}

.el-popover.el-popper {
  background: rgb(0 0 0 / 50%) !important;
  backdrop-filter: blur(4px);
  color: #e4e4e4 !important;
  border: 0 !important;
}

.el-popover.el-popper>.el-card {
  background: transparent !important;
  box-shadow: unset !important;
  backdrop-filter: none;
}

.card-popover .el-collapse-item__header {
  background-color: rgb(249 249 249 / 10%) !important;
}

.el-collapse-item__wrap {
  background-color: rgb(249 249 249 / 5%) !important;
}

.el-switch__core {
  background: #dcdfe660 !important;
}

.el-switch.is-checked .el-switch__core {
  border-color: var(--main-color) !important;
  background-color: var(--main-color) !important;
}

.el-button {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: #d8d8d8 !important;
}

.el-button:hover {
  border-color: var(--main-color) !important;
  color: var(--main-color) !important;
}

.el-button--primary {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
  transition: all 0.3s;
  color: #fff !important;
}

.el-button--primary:hover {
  filter: opacity(0.8);
  color: #fff !important;
}

/* 表格 */
.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: #826b7559 !important;
}

.el-table {
  color: #f6dfff !important;
  background-color: transparent !important;
  border: 1px solid #535353 !important;
}

.el-table thead tr th .cell {
  color: #ffaaaa !important;
}

.el-table th {
  background-color: rgb(146 80 100 / 50%) !important;
}

.el-table tr {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.el-table td,
.el-table th.is-leaf {
  border-bottom: 1px solid #68565f !important;
}

.el-table__body tr.hover-row>td.el-table__cell,
.el-table__body tr.hover-row.current-row>td.el-table__cell,
.el-table__body tr.hover-row.el-table__row--striped>td.el-table__cell,
.el-table__body tr.hover-row.el-table__row--striped.current-row>td.el-table__cell {
  background-color: #826b7559 !important;
}

.el-table__cell .cell {
  color: #d2dfeb !important;
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: rgba(38, 60, 79, 0.5) !important;
}

.menu-item {
  transition: all 0.5s;
}

.body-item:hover,
.recommend-item:hover,
.menu-item:hover {
  background-color: rgb(124 124 124 / 45%) !important;
  color: var(--card-text-color) !important;
}

/* input */
.el-input__wrapper {
  background-color: rgb(0 0 0 / 20%) !important;
}

.el-input-group__append,
.el-input-group__prepend {
  background-color: rgb(104 104 104 / 50%) !important;
}

.el-input__wrapper.is-focus {
  box-shadow: 0 0 0 1px var(--main-color) inset !important;
}

.el-input__inner {
  color: #DADADB !important
}

.bt-table-input:hover,
.bt-table-input:focus {
  border-color: var(--main-color) !important;
  background-color: var(--card-bg-color) !important
}

.bt-input {
  border-color: var(--main-color) !important;
  background-color: var(--card-bg-color) !important
}

.header-tabs {
  background-color: var(--card-bg-color) !important;
  backdrop-filter: var(--card-bg-filter);
  box-shadow: var(--card-box-shadow) !important;
  color: var(--card-text-color)
}

.header-child-tab {
  color: #d8d8d8 !important;
}

.header-child-tab:hover {
  background-color: #6e2b4e3b !important;
}

.active-tab {
  color: var(--main-color) !important;
  background: #a52f5c3b;
}

.active-tab::after {
  background-color: var(--main-color) !important;
}

.bg-\[\#f3f3f3\],
.bg-white {
  background: unset !important;
}

.docker-route-con .left-list,
.docker-route-con,
.router-tabs-content {
  background-color: var(--card-bg-color) !important;
  backdrop-filter: var(--card-bg-filter);
  box-shadow: var(--card-box-shadow) !important;
  color: var(--card-text-color);
}

[class^=svgtofont-],
[class*=" svgtofont-"] {
  color: var(--main-border-color) !important;
  transition: color 0.3s;
}

[class^=svgtofont-]:hover,
[class*=" svgtofont-"]:hover {
  color: var(--a-hover-color) !important;
}

.el-checkbox {
  color: #ececec !important;
}

.el-checkbox__inner:hover {
  border-color: var(--main-color) !important;
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner,
.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

.el-checkbox__input.is-disabled {
  filter: contrast(0.5)
}

/* pagination */
.el-pagination.is-background .btn-prev.is-active,
.el-pagination.is-background .btn-next.is-active,
.el-pagination.is-background .el-pager li.is-active {
  background-color: var(--main-color) !important;
  color: var(--el-color-white) !important;
}

.el-pagination.is-background li.is-active:hover {
  filter: hue-rotate(222deg);
}

.el-pagination.is-background .btn-prev:disabled,
.el-pagination.is-background .btn-prev.is-disabled,
.el-pagination.is-background .btn-next:disabled,
.el-pagination.is-background .btn-next.is-disabled,
.el-pagination.is-background .el-pager li:disabled,
.el-pagination.is-background .el-pager li.is-disabled {
  background-color: #f5f7fa30 !important;
  color: var(--el-text-color-placeholder) !important;
}

.el-pagination.is-background .btn-prev,
.el-pagination.is-background .btn-next,
.el-pagination.is-background .el-pager li {
  background-color: #f4f4f570 !important;
  color: #000000 !important;
}

.el-pagination__sizes,
.el-pagination__total,
.el-pagination__jump {
  color: var(--card-text-color) !important;
}

.web_name_title {
  color: #fff
}

.el-alert {
  background-color: var(--card-bg-color) !important;
  color: var(--card-text-color)
}

.el-alert--info {
  background-color: #5e5e5e80 !important;
  border: 0 !important;
}

.class-item {
  background-color: rgb(128 128 128 / 35%) !important;
  border-radius: 5.25px !important;
  transition: all 0.3s;
}

.class-item:hover,
.class-item.on {
  background-color: var(--main-color) !important;
  box-shadow: 0 0 5px var(--main-color);
  color: rgb(255 255 255 / var(--un-text-opacity));
}

.AppItem {
  border-color: #a3a3a370 !important;
  backdrop-filter: blur(5px);
}

.AppItem:hover {
  border-color: var(--main-color) !important;
  backdrop-filter: blur(5px) brightness(0.7);
}

.AppContent {
  color: var(--card-text-color) !important;
}

.AppImg {
  width: 60px !important;
  height: 60px !important;
  border-width: 0 !important;
  box-shadow: unset !important;
  filter: drop-shadow(2px 4px 6px black);
}

.el-tag {
  background-color: #0909098f !important;
  border-color: #565254 !important;
}

.left-list {
  border: 0 !important
}

.el-form .el-form-item__label {
  color: var(--card-text-color) !important
}

.body_top {
  color: inherit !important
}

.bottom_item[data-v-26923ce2]:nth-child(1),
.bottom_item[data-v-26923ce2]:nth-child(5),
.bottom_item[data-v-26923ce2]:nth-child(14),
.bottom_item[data-v-26923ce2]:nth-child(17) {
  background-color: rgb(255 255 255 / 17%) !important;
}

.el-progress-bar__outer {
  background-color: #ebeef524 !important;
}

.el-progress__text {
  color: #d2d2d2 !important;
}

.tab-header-operate {
  border-bottom: 1px solid #ffffff33 !important;
}

.el-tabs--card>.el-tabs__header {
  border-bottom: var(--el-tab-border) !important;
}

.el-tabs--card>.el-tabs__header .el-tabs__nav {
  border: var(--el-tab-border) !important;
}

.el-divider--horizontal {
  border-top: var(--el-tab-border) !important;
}

.el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
  border-bottom-color: var(--main-color) !important;
  background: #a52f5c3b;
  color: var(--main-color) !important;
}

.el-tabs.tabs-card .el-tabs__item.is-active:after {
  background: var(--main-color) !important;
  height: 2px !important;
}

.el-tabs--left .el-tabs__item.is-left.is-active:after {
  height: 0 !important;
}

.el-tabs__nav-wrap:after {
  background: var(--el-tab-border-color) !important;
}

.el-radio-button__inner {
  background: rgb(31 31 31 / 60%) !important;
  border: var(--el-tab-border) !important;
  color: #ffffff7a !important;
}

.el-radio-button__inner:hover {
  color: var(--a-hover-color) !important
}

.el-radio-button.is-active .el-radio-button__original-radio:not(:disabled)+.el-radio-button__inner {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
  color: #fff !important;
}

.progress_item {
  background-color: #f7f7f725 !important;
}

.progress_item_header {
  color: #ecf4ff !important;
}

.progress_item_header .progress_type .title-icon {
  filter: contrast(4);
}

.progress_item_header .progress_fold {
  filter: invert(1)
}

.progress_item_info.active {
  background-color: rgb(255 144 89 / 26%) !important;
  transition: all 0.4s;
}

.progress_item_info.active:hover {
  background-color: rgba(252, 109, 38, .2) !important;
}

.progress_item_info .info_cont {
  color: #eeeeee !important;
}

.progress_item_info.active .info_cont_desc {
  color: #f3dcc5 !important;
}

.progress_item_info {
  transition: all 0.3s;
}

.progress_item_info:hover {
  background-color: #0000004a !important;
}

.product-introduce-tab,
.sn-home-overview,
.sn-home-list,
.border-\[\#e9e9e9\] {
  border-color: var(--el-tab-border-color) !important
}

.card_title:before {
  background-color: var(--main-color) !important;
}

.el-empty__image svg {
  filter: opacity(0.5);
}

.sn-home-overview-green {
  background: linear-gradient(to bottom, rgb(54 222 97 / 23%), #387f9824) !important;
}

.sn-home-overview-item-title {
  color: rgb(221 255 237 / 85%) !important
}

.sn-home-overview-item-num {
  color: #d6d6d6 !important
}

.sn-home-note {
  background-color: rgb(255 201 124 / 30%) !important;
}

.product-introduce-title {
  color: var(--color-999) !important
}

.product-introduce-ps {
  color: var(--color-888) !important
}

.product-introduce-ul {
  color: var(--color-666) !important
}

.product-introduce-ul-icon {
  filter: hue-rotate(188deg);
}

.product-introduce-tab {
  color: var(--color-666) !important
}

.product-introduce-tab>li.on {
  border-color: var(--main-color) !important;
  color: var(--main-color) !important;
}